body {
  font-family: "Raleway", sans-serif;
}

.imagen-logo{
  width: 180px;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/imagen-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  background-color: #3b3d3f;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
